<div>

  <h1>Каталог товаров</h1>

  <div class = 'category-buttons'>
    <label for="category">Выбери категорию:</label>
    <select id="category" (change) = "selectCategory($event)">
      <option *ngFor = "let category of categories" [value]="category">
        {{category}}
      </option>
    </select>
  </div>

  <div class="products-container">
    <div *ngFor="let product of getfilteredProducts()" class="product-card">
      <img class = 'product-image' [src]="product.image" alt="{{ product.name }}">
      <h3>{{ product.name }}</h3>
      <p>{{ product.description }}</p>
      <p>⭐ {{ product.rating }}</p>
      <p>❤️ {{product.likes}}</p>

      <a [href]="product.link" target="_blank">Подробнее</a>

      <button (click) = "likeProduct(product.id)">👍 Like</button>
      <button (click) = "removeProduct(product.id)">🗑 Удалить</button>
    
      <div class = 'share-buttons'>
        <button (click)="shareProduct(product.link, 'whatsapp')">📲 Поделиться в WhatsApp</button>
        <button (click)="shareProduct(product.link, 'telegram')">📩 Поделиться в Telegram</button>
      </div>
    </div>
  </div>
</div>