/* Основные стили */
body {
    font-family: Arial, sans-serif;
    background-color: #020202;
    margin: 0;
    padding: 0;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}


.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 50px;
}

.profile__image {
    margin-bottom: 20px;
}


.logo {
    width: 500px;
    height: auto;
}

.form-box {
    background: #040404;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px;
}

h1 {
    font-family: 'Segoe UI', sans-serif;
    font-size: 32px;
    color: #f4f4f5;
}

form input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #131314;
    border-radius: 5px;
    font-size: 14px;
    color: white;
    background-color: #2c2f32;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #0095f6;
    color: #f4f4f5;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0077cc;
}

p {
    font-size: 14px;
}

.login-link a {
    color: #0095f6;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}
