<div class="products-container">
    <div *ngFor="let product of products" class="product-card">
      <img class = 'product-image' [src]="product.image" alt="{{ product.name }}">
      <h3>{{ product.name + '!' }}</h3>
      <p>{{ product.description }}</p>
      <p>⭐ {{ product.rating }}</p>
      <a [href]="product.link" target="_blank">Подробнее</a>
      <button (click)="shareProduct(product.link, 'whatsapp')">WhatsApp</button>
      <button (click)="shareProduct(product.link, 'telegram')">Telegram</button>
    </div>
  </div>
